@model IEnumerable<CSCI3110LabManyToMany.Models.BookDetailsVM>

@{
    ViewData["Title"] = "All Books";
}

<h1>All Books</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAuthors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAuthors)
            </td>
            <td>
                <a href="/book/assignauthor/@item.Id" class="btn btn-warning btn-sm">Assign Author</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_AssignAuthorModal" /> 

@section Scripts {
    <script src="~/js/bookIndex.js" asp-append-version="true"></script>
}
